
<div id="col_gauche">
	
</div>

								
<div id="col_central">

	<div class="accordian">
		
		<h2 class="header">Listes pour impression</h2>
		
		
		
		 <div>
		 <%= link_to ('Présentateurs', presenters_admin_lists_path)%>
		</div>
		
		<div style="margin-top: 20px;">
		 <%= link_to ('Entreprises', enterprises_admin_lists_path)%>
		</div>
		
		 <div style="margin-top: 20px;">
		 <%= link_to ('Badges', badges_admin_lists_path)%>
		</div>
		
		
		
		<div class="separation_contenus"><!-- Do not remove --></div>
		
	
	</div>
	
	
</div>


							









