


<div id="contenu_principal">
								
	<div id="col_central">

		<div class="accordian">
			
			<a class="hidden" id="ctn94_1554" name="ctn94_1554"></a><h2 class="header">Journée Recherche 2012</h2>	
			
<p>
<strong>L’Ecole Centrale Paris</strong> et son partenaire <strong>Supélec</strong> ont le plaisir de vous inviter à la <strong>Journée de la Recherche 2012</strong>, à l’Ecole Centrale Paris le <strong>10 Mai 2012.</strong>
</p>

<p>
	Cette journée a pour vocation de renforcer les liens entre recherche pratiquée à l´Ecole et industrie, notamment:
</p>

<ul>
	<li><strong>Communiquer sur la Recherche à Centrale Paris</strong></li>
	<li>
		<p>
		Présentations de posters scientifiques par les doctorants en 2ème année. Présentations orales (3ème année).
		</p>
		<p>Echanges informels doctorants, chercheurs des entreprises invitées et enseignants-chercheurs.
			</p>
</li>
<li><strong>Permettre le Recrutement des doctorants (Centrale Paris et Supélec)</strong></li>
	<li><p>
		Espaces pour entretiens individuels avec vos représentants des Ressources Humaines.
		</p>
</li>
<li><strong>Favoriser les Relations Entreprises - Chercheurs</strong></li>
	<li><p>
		Moments d’échanges informels avec les enseignants-chercheurs lors des présentations poster et lors du déjeuner.
		</p>
</li>
</ul>


<h3>Inscription (obligatoire avant le 20 avril)</h3>
<p>Celle-ci s'effectue sur le site internet, où chaque entreprise invitée crée son compte: http://journeerecherche.ecp.fr</p>

<h3>Procédure de recrutement</h3>

<p>Après avoir <strong>créé votre compte</strong> sur le site internet, vous aurez accès du 9 avril au 5 mai aux profils des différents doctorants inscrits. En visitant un profil (clic sur le nom du doctorant), vous pourrez <strong>solliciter un entretien</strong> durant la journée du 10 mai.</p>

 
<h3>Déroulement de la journée</h3>

<p>
	La journée sera divisée en deux demi-journées regroupant des domaines distincts. Ainsi vous pourrez cibler la ou les présentations auxquelles vous souhaitez assister : matin et/ou après-midi.
</p>


<table class="t_data">
    <thead style="padding:1px">
        <tr>
            <th>Horaires</th>
            <th>Activités Générales</th>
            <th>Entretiens Recrutement</th>
        </tr>
    </thead>
    <tbody>
    	<tr>
            <td>9:30 – 10:00</td>
            <td colspan="2">Accueil</td>
        </tr>
        <tr>
            <td>10:00 – 11:30</td>
            <td>Présentation des posters doctorants 2ème année *</td>
            <td rowspan="2">Entretiens individuels doctorants *</td>
        </tr>
        <tr>
            <td>11:30 – 12:30</td>
            <td>Présentations des doctorants 3ème année *</td>
        </tr>
        <tr>
            <td>12:30 – 12:45</td>
            <td colspan="2">Mot du Directeur de Centrale Paris</td>
        </tr>
        <tr>
            <td>12:45 – 14:00</td>
            <td colspan="2">Déjeuner</td>
        </tr>
        <tr>
            <td>14:00 – 15:30</td>
            <td>Présentation des posters doctorants 2ème année **</td>
            <td rowspan="2">Entretiens individuels doctorants **</td>
        </tr>
        <tr>
            <td>15:30 – 16:30</td>
            <td>Présentations des doctorants 3ème année **</td>
        </tr>
        <tr>
            <td>16:30 – 17:00</td>
            <td colspan="2">Cocktail / Prix meilleur poster</td>
        </tr>
    </tbody>
</table>

<table class="t_data nocolor">
	<tr>
		<td>
			*  Matin, avec les laboratoires
		</td>
		<td>
			** Après-midi, avec les laboratoires :
		</td>
	</tr>
	<tr>
		<td>
			LGPM : Laboratoire Génie des procédés et matériaux<br/>
LGI : Laboratoire Génie Industriel<br/>
MAS : Mathématiques appliquées aux systèmes<br/>
LPQM : Laboratoire de Photonique Quantique et Moléculaire<br/>
E3S : Supélec Sciences des Systèmes
SONDRA<br/>
LGEP : Laboratoire de Génie Électrique de Paris<br/>
L2S : Laboratoire des Signaux et Systèmes <br/>

		</td>
		<td>
			EM2C : Energétique Moléculaire et Macroscopique, Combustion<br/>
MSSMAT : Mécanique des Sols, Structures et Matériaux<br/>
SPMS : Structure, Propriétés et Modélisation des Solides<br/>
LISMMA : Laboratoire d'ingénierie des systèmes mécaniques et des Matériaux<br/>

		</td>
	</tr>
</table>

<h3>Informations pratiques</h3>

<p>
		L'ensemble des activités se déroulera au bâtiment Lavallée.
		</p>

<h4>Accès à l'École Centrale Paris par voiture</h4>
<ul>
	<li>
		<strong>Par la N 20,</strong> en venant de la PORTE d'ORL&Eacute;ANS, direction Antony jusqu'au carrefour de la "Croix de Berny" ; prendre &agrave; droite direction "Versailles (Ch&acirc;tenay-Malabry)" et &agrave; 500 m&egrave;tres &agrave; droite, la D67 direction Sceaux (avenue Sully Prudhomme) puis, au premier rond point, &agrave; gauche (Grande Voie des Vignes).
	</li>
	<li>
		<strong>Par la N 118,</strong> en venant du PONT DE S&Egrave;VRES, prendre l'A 86 direction Cr&eacute;teil, puis sortie n&deg;29 "Ch&acirc;tenay-Malabry Robinson". Suivre la N186 qui traverse tout Ch&acirc;tenay. Tourner &agrave; gauche D67 direction Sceaux (avenue Sully Prudhomme) puis, au premier rond point, &agrave; gauche (Grande Voie des Vignes).
	</li>
	<li>
		<strong>Par l'A86,</strong> en venant de CR&Eacute;TEIL, sortie n&deg; 27 direction Antony. &Agrave; 800 m&egrave;tres &agrave; droite D67 direction Sceaux (avenue Sully Prudhomme) puis, au premier rond point, &agrave; gauche (Grande Voie des Vignes).
	</li>
</ul>

<h4>En RER : ligne B, depuis Paris</h4>
<ul>
	<li>
		<strong>Direction ST R&Eacute;MY-L&Egrave;S-CHEVREUSE :</strong> 
		<ul>
			<li>Descendre &agrave; la Croix de Berny puis traverser le Parc de Sceaux (15 minutes de marche &agrave; pied).</li>
			<li>Descendre &agrave; la Croix de Berny, autobus Paladin 4 direction "Ch&acirc;tenay-Malabry - Cimeti&egrave;re nouveau" et arr&ecirc;t &agrave;&nbsp; "Carrefour de l'Europe" ou "Grande Voie des Vignes - &Eacute;cole Centrale".</li>
			<li>Descendre &agrave; <span class="important">Antony</span>, autobus 395 direction "Clamart - G. Pompidou" et arr&ecirc;t &agrave; "Carrefour de l'Europe" ou "Grande Voie des Vignes - &Eacute;cole Centrale".</li>
		</ul>
	</li>
	<li>
		<strong>Direction ROBINSON</strong> descendre &agrave; Robinson, autobus 395 direction "Antony RER" et arr&ecirc;t "Grande Voie des Vignes - &Eacute;cole Centrale". 
		<ul>
			<li>Horaires du RER B <a href="http://www.ratp.fr/horaires/fr/ratp/rer/prochains_passages/RB/Denfert+Rochereau/R" title="Les horaires en temps r&eacute;el sur le site de la RATP">en direction d'Antony</a></li>
			<li>Horaires du RER B <a href="http://www.ratp.fr/horaires/fr/ratp/rer/prochains_passages/RB/Antony/A" title="Horaires du RER B">en direction de Paris</a></li>
			<li>Horaires du <a href="/files/content/sites/ecp_internet/files/Centrale Paris/PDF/bus_395.pdf" title="Les horaires en temps r&eacute;el sur le site de la RATP">bus 395</a></li>
			<li>
				<a href="/files/content/sites/ecp_internet/files/Centrale Paris/PDF/horaires-paladin4.pdf" title="Bus Paladin 4">Horaires</a> et <a href="/files/content/sites/ecp_internet/files/Centrale Paris/PDF/plan-paladin4.pdf" title="Bus Paladin 4">plan de la ligne</a> du Paladin 4
			</li>
		</ul>
	</li>
</ul>

<h3>Contact</h3>

<p>
		E-mail : uj2cp@ecp.fr <br/>
Aurélien GUY : 06 37 77 44 87<br/>
Sofien CAVAGNOL : 06 31 89 02 53<br/>

		</p>


			
			
			
			
			
	
<div class="separation_contenus"><!-- Do not remove --></div>
									</div>
									<!-- fmt:message key="ecp.institutionnel.linkIntroList.contribText"/-->
									
								</div>
								<div id="col_droite">
									
									
									
									<div id="contact">
										<h3>
											Derniers élèves inscrits
										</h3>
										
										<ul>
											<% @last_inscriptions.each do |eleve| %>
											<li>
												<span>
												<strong><%= eleve.first_name + " "+ eleve.last_name%></strong></span>
												<span style="padding-bottom: 8px;">
												<%= get_labo(eleve.laboratory) %>
												</span>
											</li>
											<% end %>
										</ul>
										
									</div>
									
									<!-- <br/><h2>Titre du bloc: Les Enjeux <br/>     du XXIe siècle</h2> -->
									<!-- <br/>Type de bloc: contenu -->			
									<div id="admission" class="h_0_1">
										<h3>Dernieres Entreprises Inscrits</h3>
										<div class="actu">
											
											<% @last_enterprises.each do |ent| %>
												<h4><%= ent.name %></h4>
												<span style="padding-bottom: 8px;">
												<%= ent.tagline %>
												</span>
											<% end %>
											

										</div>
									</div>
									<div class="fin_cellule b_1"></div>
								</div>
								<div class="breaker">
									<!-- do not remove -->

								</div>
							</div>
							<div class="breaker">
								<!-- do not remove -->
							</div>
